<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
 <services>
      <service name="ucajax.AjaxContent" behaviorConfiguration="metadataAndDebugEnabled">
        <endpoint address=""
                  behaviorConfiguration="Default"
                  binding="webHttpBinding"
                  contract="ucajax.AjaxContent" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
